{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": { 
    "project": ["./tsconfig.json"] 
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {}
}
