{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": { 
    "project": ["./tsconfig.json"] 
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    // disable the rule for all files
    "prettier/prettier": "warn"
  }
}
